### use input(prompt) to take input from users
### the entered string will be converted into a string
### print(args) to print the string

In [3]:
num = input("Enter the number here: ")

Enter the number here: 11

In [4]:
print(num)

11

In [5]:
type(num)

str

In [6]:
num2 = "Handsome"
print(num + " " + num2 )

11 Handsome

In [15]:
firstname = input("Enter your first name: ")
secondname = input("enter your second name: ")
age= int(input("Enter your age: ")) #conversion of str to int
fullname = firstname + " " + secondname 
print("your full name is" + " " + fullname)
print("Your age is",age)

Enter your first name: Ram
enter your second name: Yadav
Enter your age: 35
your full name is Ram  Yadav
Your age is 35

In [14]:
type(age)

int

In [16]:
print("31" * 5)
print(int(12.7) % 3)
print("3" + 2.3)

3131313131
0

TypeError: can only concatenate str (not "float") to str